# Hugo build output
/public/
/resources/_gen/

# Hugo cache
/.hugo_build.lock
/.hugo_build_dir/
cache/
tmp/

# Node (אם תוסיף בעתיד)
node_modules/
npm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# Logs
*.log
